.container {
    display: flex;
   align-items: center;
   justify-content: center;
    height: 500px;;
}

input {
    margin: 10px;
    border-radius: 2px;
    width: 400px;
}

.parentGap {
    margin: 40px;
}

button {
    border-radius: 5px;
    margin: 5px;
}

img {
    height: 300px;
    width: 300px;
}